<a href="https://colab.research.google.com/github/vanesamp07/Python/blob/main/Analisis_estadistico_en_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#Conectamos el archivo con los documentos en el drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [20]:
#Importamos la libreria pandas
import pandas as pd

In [17]:
#Importamos el archivo CSV con el set de datos que utilizaremos
file_path = '/content/drive/MyDrive/Colab Notebooks/ds_salaries.csv'

In [23]:
#Ingresamos los datos en un Dataframe y los leemos
salarios = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/ds_salaries.csv',delimiter=',')

In [24]:
#Imprimimos el Dataframe
salarios

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M
...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
3751,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
3752,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
3753,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
3754,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L

In [27]:
#Podemos revisar los encabezados de las columnas del Dataframe
salarios.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [34]:
#Podemos validar el tipo de dato por cada columna
salarios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3755 entries, 0 to 3754
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           3755 non-null   int64
 1   experience_level    3755 non-null   object
 2   employment_type     3755 non-null   object
 3   job_title           3755 non-null   object
 4   salary              3755 non-null   int64
 5   salary_currency     3755 non-null   object
 6   salary_in_usd       3755 non-null   int64
 7   employee_residence  3755 non-null   object
 8   remote_ratio        3755 non-null   int64
 9   company_location    3755 non-null   object
 10  company_size        3755 non-null   object
dtypes: int64(4), object(7)
memory usage: 322.8+ KB

- work_year:El año en que se pagó el salario.
- experience_level: El nivel de experiencia en el trabajo durante el año, con los siguientes valores posibles: EN (nivel de entrada / junior), MI (nivel medio /intermedio), SE (nivel senior / experto), EX (nivel ejecutivo / director).
- employment_type: El tipo de empleo para el puesto: PT (tiempo parcial), FT (tiempo completo), CT (contrato), FL (trabajo freelance).
- job_title: El puesto de trabajo desempeñado durante el año.
- salary: El monto total del salario bruto pagado.
- salary_currency: La moneda en la que se pagó el salario, utilizando un código de moneda ISO 4217
- salary_in_usd: El salario en USD (tipo de cambio dividido por la tasa promedio de USD para el año correspondiente a través de fxdata.foorilla.com).
- employee_residence: El país de residencia principal del empleado durante el año laboral, utilizando un código de país ISO 3166.
- remote_ratio: La cantidad total de trabajo realizado de forma remota, con los
siguientes valores posibles: 0 (sin trabajo remoto, menos del 20%), 50 (parcialmente remoto), 100 (totalmente remoto, más del 80%).
- company_location: El país de la ocina principal del empleador o sucursal
contratante, utilizando un código de país ISO 3166.
- company_size: El número promedio de personas que trabajaron para la empresa
durante el año: S (menos de 50 empleados, pequeña), M (50 a 250 empleados,
mediana), L (más de 250 empleados, grande).

1. Calcular el promedio general de los salarios, desviación estándar, quintiles y rango.

In [49]:
media = salarios["salary"].mean() #media de salario bruto pagado
media2 = salarios["salary_in_usd"].mean() #media de salario bruto pagado
desviación_estandar = salarios["salary"].std() #desviación de salario bruto pagado
desviación_estandar2 = salarios["salary_in_usd"].std() #desviación de salario en dolares
minimo = salarios["salary"].min() #rango minimo de salario bruto pagado
minimo2= salarios["salary_in_usd"].min() #rango minimo de salario en dolares
maximo = salarios["salary"].max() #rango maximo de salario bruto pagado
maximo2 = salarios["salary_in_usd"].max() #rango maximo de salario en dolares
q1 = salarios["salary"].quantile(0.25)
q1_2 = salarios["salary_in_usd"].quantile(0.25)
q2 = salarios["salary"].quantile(0.5)
q2_2 = salarios["salary_in_usd"].quantile(0.5)
q3 = salarios["salary"].quantile(0.75)
q3_2 = salarios["salary_in_usd"].quantile(0.75)

In [52]:
#Al imprimir los resultados podemos coomparar los salarios brutos con los salarios en USD con respecto al calculo de cada médida estadistica
print(media)
print(media2)
print(desviación_estandar)
print(desviación_estandar2)
print(minimo)
print(minimo2)
print(maximo)
print(maximo2)
print(q1)
print(q1_2)
print(q2)
print(q2_2)
print(q3)
print(q3_2)

190695.57177097205
137570.38988015978
671676.5005079071
63055.625278224084
6000
5132
30400000
450000
100000.0
95000.0
138000.0
135000.0
180000.0
175000.0

In [84]:
#Podemos calcular el valor de los rangos entre el max y el min, y el valor de los rangos intercuartiles
#En este caso observamos que los salarios en USD estan menos dispersos (cantidad menor) que los salarios brutos
print(maximo - minimo)
print(maximo2 - minimo2)
print(q3 - q1)
print(q3_2 - q1_2)

30394000
444868
80000.0
80000.0

2. Realizar un analisis estadistico: comparación entre los salarios agrupados por 3 diferentes categorías a tu
elección. ¿Para cuál de ellas las medidas de tendencia central son más
representativas? ¿Para cuál son menos representativas?

In [56]:
#Tomamos las categorias de nivel de experiencia, tipo de empleo y tamaño de la compañia
categories = ['experience_level', 'employment_type', 'company_size']
salarios_grouped = salarios[categories + ['salary']]

In [71]:
#Calculamos las medidas de tendencia central para salario bruto
media3 = salarios_grouped["salary"].mean()
mediana = salarios_grouped["salary"].median()
moda = salarios_grouped["salary"].mode()[0]

In [72]:
#Imprimimos los resultados
print(media3)
print(mediana)
print(moda)

190695.57177097205
138000.0
100000

In [83]:
#Revisamos las diferencias para realizar analisis
print(media3 - mediana)
print(mediana - moda)

52695.57177097205
38000.0

In [75]:
#Ahora, realizamos el mismo proceso pero con el salario en USD
categories2 = ['experience_level', 'employment_type', 'company_size']
salarios_grouped2 = salarios[categories + ['salary_in_usd']]

In [78]:
media4 = salarios_grouped2["salary_in_usd"].mean()
mediana2 = salarios_grouped2["salary_in_usd"].median()
moda2 = salarios_grouped2["salary_in_usd"].mode()[0]

In [81]:
print(media4)
print(mediana2)
print(moda2)

137570.38988015978
135000.0
100000

In [82]:
#De los resultados concluimos que con respecto a las 3 categorias, las medidas de tendencia central son mas representativas cuando se toman los salarios en USD
#Las diferencias para este caso son menores que para el anterior, por lo tanto los datos son mas representativos
print(media4 - mediana2)
print(mediana2 - moda2)

2570.3898801597825
35000.0

3. ¿Qué cargos reciben mejores sueldos en las empresas con sede en Estados Unidos?

In [88]:
#A continuación observamos los 10 cargos con mejores salarios en USA
salarios_usa = salarios[salarios['company_location'] == 'US']
salary_stats = salarios_usa.groupby('job_title')['salary_in_usd'].agg(
    ['mean', 'median', 'max', 'min']).sort_values(by='mean', ascending=False)

print("Estadísticas de salario por cargo:")
print(salary_stats.head(10))  # Mostrar los 10 primeros cargos con mejores salarios

Estadísticas de salario por cargo:
                                             mean    median     max     min
job_title
Data Analytics Lead                 405000.000000  405000.0  405000  405000
Data Science Tech Lead              375000.000000  375000.0  375000  375000
Director of Data Science            294375.000000  287500.0  353200  249300
Principal Data Scientist            255500.000000  227500.0  416000  151000
Cloud Data Architect                250000.000000  250000.0  250000  250000
Applied Data Scientist              238000.000000  177000.0  380000  157000
Head of Data                        233183.333333  220000.0  329500  160000
Machine Learning Software Engineer  217400.000000  180000.0  375000   90000
Data Lead                           212500.000000  212500.0  225000  200000
Head of Data Science                202355.000000  195800.0  314100  110000